  <ul class="pages" ng-init="setUsername()">
      <li class="chat page">
          <div class="chatArea">
              <ul class="messages">
              </ul>
          </div>
          <div ng-include='"templates/userArea.html"'></div>
          <div ng-include='"templates/templates.html"'></div>
          <input class="inputMessage input" ng-model="txtMessage" placeholder="Type here..."/> <input class="inputButton" ng-class=" disableClass ? 'disabled disable' : ''" type="button" value="Send" ng-click="Message()">
      </li>
  </ul>
  <div ng-include='"templates/individualChat.html"'></div>