  <ul class="pages">
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <form ng-submit="setName()">
           <input class="usernameInput" ng-model="username" type="text" maxlength="14" /></br>
        </form>
      </div>
    </li>
  </ul>