<div id="individualChatDiv">
    <div ng-if="individualusers.length>0" ng-repeat="user in individualusers" id="{{user}}" class="chag_avi">
      <w-div id="gdrgf2l" class="ghkwmg0 g-1fe8fc g42iztb g-839exn gnbi1r3">
        <div id="dropdown" class="g-jmctzy g-yv3nhf gbdspmq">
          <a href="javascript:void(0)" class="gt60d9b g-t5fzih g7vlg7k" ng-click="OpenDiv()">
            <span class="g-bsn14n"></span> 
          </a> 
          <div class="g5gm2yb"> 
            <div class="gusnb58">
              <div id="message_div" class="g-80khsx g-5t2u5g content mCustomScrollbar">

                        <div id="repeat-message{{user}}" class="repeat-message"   >

                            <!-- <p class="mybakcolor" ng-if="message.name===UserName" ><span class="time-detail-left">{{message.date | date:'hh:mm'}}</span><span class="message-text">{{message.text}}</span><span class="message-img"><img src="{{message.foto}}" style="width:25px;display: inline !important;" /></span></p>
                            <p class="bakcolor" ng-if="message.name!=UserName" ><span class="user-imged"><img src="{{message.foto}}" style="width:25px;display: inline !important;" /></span> <span class="user-texted">{{message.text}}</span><span class="time-detail-right">{{message.date | date:'hh:mm'}}</span></p> -->


                        </div>
              </div>
              <div class="gixitel">
                  <form ng-submit="SendIndividualMessage(user)" class="gixitel">
                    <div class="g-lqcqgf">
                      <div class="gojhumm">
                        <label class="g-4nfvgl " for="gscwinput_663_1"> Message </label>
                        <div class="gaxobu1 g-1s0n8">
                          <input type="text" maxlength="1000" class="g3n9tjw g-pf3d4f " id="txtmessage{{user}}" >
                        </div>
                      </div>
                    </div>
                    <div class="g-34vs0r">
                      <div class="g-w9ftwc"> 
                        <button class="grrmvdd " ng-class=" disableClass ? 'disabled disable' : ''" type="submit"> <span class="g-ch3r3w">Send</span> <span class="gyy6mbi"></span></button>
                      </div>
                    </div>
                  </form> 
              </div> 
            </div>
          </div>
        </div>
      </w-div>
    </div>
  </div>