<div id="templates" class="userArea" ng-if="userrole=='Admin'">
    <div>Templates</div>
    <div ng-repeat="temp in templates">
        <input type="checkbox" class="checkbox"  ng-change="ChangeTemplate(temp)" ng-model="temp.selected"  id="chk{{temp.id}}">  {{temp.Name}}  
    </div>
    <div>
    	<button class="grrmvdd btn" ng-class=" disableClass ? '' : 'disabled disable'" type="button" ng-click="SendTemplateMessage()"> <span class="g-ch3r3w">Send Template</span> <span class="gyy6mbi"></span></button>
    </div>
</div>