<div id="userArea" class="userArea usrbtm " ng-if="userrole=='Admin'">
    <div id='AllUser' ng-click='chatToIndividual("1000")'>All</div>
    <div ng-repeat="user in users" ng-if="user.role!='Admin'" id="{{user.userid}}" >
    	<span ng-click="chatToIndividual(user.userid)">{{user.username}}</span>
    	<input type="checkbox" class="checkbox" ng-class=" disableClass ? '' : 'chkdisable'"  checklist-model="templateuser.users" checklist-value="user.userid" >
    </div>
</div>